/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
Thumbs.db
/node_modules/
/public/builds/
/public/assets/javascript/frontend.js
/public/assets/stylesheets/frontend.css
error_log
/bower_components/
/app/config/database-pw-mongodb.php
