/.env
/.env.php
/.env.testing.php
/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
Thumbs.db
/node_modules/
/public/builds/
error_log
/bower_components/
/.sass-cache/
/.data/

# ignore IntelliJ-files
.idea/
*.iml
