/.env.php
/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
Thumbs.db
/node_modules/
/public/builds/
/public/assets/javascript/frontend.js
/public/assets/stylesheets/frontend.css
/public/assets/stylesheets/frontend.css.map
error_log
/bower_components/
/.sass-cache/

# ignore IntelliJ-files
.idea/
