<div class="form-horizontal hidden-print">
	<div class="row form-group">
		<label class="col-md-2 control-label">Visningsmodus</label>
		<div class="col-md-10">
			<select name="format" ng-model="viewtype" class="form-control">
				<option value="summed">Oppsummert</option>
				<option value="detailed">Detaljert</option>
			</select>
		</div>
	</div>
	<div class="row form-group">
		<label class="col-md-2 control-label">Tidsperiode</label>
		<div class="col-md-3">
			<input ng-model="date_from" class="form-control" placeholder="yyyy-mm-dd" type="date" value="{{from}}" date-format="yyyy-mm-dd" />
		</div>
		<div class="col-md-3">
			<input ng-model="date_to" class="form-control" placeholder="yyyy-mm-dd" type="date" value="{{to}}" date-format="yyyy-mm-dd" />
		</div>
	</div>
	<div class="row form-group">
		<div class="col-md-offset-2 col-md-10">
			<button ng-click="changeMonth(-1)">&laquo; En måned tilbake</button>
			<button href ng-click="changeMonth(1)">En måned frem &raquo;</button>
		</div>
	</div>
</div>
<div class="visible-print-block">
	<p><b>{{viewtype == 'detailed' ? 'Detaljert oversikt' : 'Oppsummering'}}</b> for perioden <u>{{date_from|customdate:'dddd D. MMMM YYYY'}}</u> til <u>{{date_to|customdate:'dddd D. MMMM YYYY'}}</u>.</p>
</div>

<div ng-if="!data">
	<p>Laster data..</p>
</div>

<div id="fakturere_data" ng-if="data">
	<h2>Total statistikk</h2>
	<dl class="dl-horizontal">
		<dt>Inntekt i perioden</dt>
		<dd>kr {{data.amount_real|formatNum}}</dd>
		<dt>Antall utskriftsjobber</dt>
		<dd>{{data.num_jobs|formatNum:0}}</dd>
		<dt>Antall sider</dt>
		<dd>{{data.num_pages|formatNum:0}} ({{data.num_pages_real|formatNum:0}} faktureres, {{data.num_pages_alt|formatNum:0}} ikke)</dd>
		<dt>Antall personer</dt>
		<dd>{{data.unique_people_beboer}} (privat bruk)</dd>
		<dd>{{data.unique_people}} (inkludert grupper)</dd>
	</dl>

	<h2>Daglig statistikk</h2>
	<printer-visualization val="data.daily"></printer-visualization>

	<div ng-show="viewtype == 'summed'" class="row">
		<div class="col-md-6 printergroup" ng-repeat="section in data.sections">
			<h2>{{section.title}}</h2>
			<p ng-if="section.is_beboer" ng-repeat="group in section.printergroups | filter:{comment: '!'}:true">
				{{group.comment}}
			</p>
			<p ng-if="section.description">
				{{section.description}}
			</p>

			<table class="table table-striped table-condensed" style="width: auto">
				<thead>
					<tr>
						<th>Navn</th>
						<th>Per side</th>
						<th>Sider</th>
						<th>Å betale</th>
						<th ng-show="!section.is_beboer && viewtype != 'detailed'">Kommentar</th>
					</tr>
				</thead>
				<tfoot>
					<tr style="font-style: italic; font-weight: bold">
						<td ng-if="viewtype == 'summed'">Sum<span ng-if="viewtype == 'summed'"> ({{section.occurrences}} stk)</span></td>
						<td style="text-align: right">&nbsp;</td>
						<td style="text-align: right">{{section.totals.num_pages|formatNum:0}}</td>
						<td style="text-align: right">{{section.totals.amount_real|formatNum}}</td>
						<td ng-show="!section.is_beboer">&nbsp;</td>
					</tr>
				</tfoot>
				<tbody>
					<tr ng-repeat="row in section.printergroups|printergroupsSummed:section.is_beboer|orderBy:'printername'|orderBy:'realname'">
						<td>{{row.realname || row.printername}} <b ng-if="section.is_beboer && row.utflyttet">Utflyttet?</b></td>
						<td style="text-align: right">
							<span ng-repeat="(key, val) in row.costlist">{{key|formatNum}}<br /></span>
						</td>
						<td style="text-align: right">
							<span ng-repeat="(key, val) in row.costlist">{{val|formatNum:0}}<br /></span>
						</td>
						<td style="text-align: right">{{row.amount_real|formatNum}}</td>
						<td ng-show="!section.is_beboer">
							<span ng-if="row.is_comment_or_alt">
								{{row.comment}}<br />
								<span ng-if="row.amount_alt">(ikke dekket: kr {{row.amount_alt|formatNum}})</span>
							</span>
							<span ng-if="!row.is_comment_or_alt">&nbsp;</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="col-md-6 printergroup">
			<h2>Konteringsliste for FBS</h2>
			<table class="table table-striped table-condensed" style="width: auto">
				<thead>
					<tr>
						<th>Konto</th>
						<th>Debet</th>
						<th>Kredit</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="account in data.accounts">
						<td>{{account.account}}</td>
						<td style="text-align: right">{{account.sum > 0 ? (account.sum|formatNum) : ''}}</td>
						<td style="text-align: right">{{account.sum < 0 ? (account.sum*-1|formatNum) : ''}}</td>
						<td>{{account.text}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div ng-show="viewtype == 'detailed'">
		<div ng-repeat="section in data.sections">
			<div class="printergroup" ng-repeat="group in section.printergroups | orderBy:'printername'">
				<h2>{{section.is_beboer ? 'Enkeltbeboere' : 'Gruppe: '+group.printername}}</h2>
				<p ng-if="group.comment">{{group.comment}}</p>

				<table class="table table-striped table-condensed" style="width: auto">
					<thead>
						<tr>
							<th>Navn</th>
							<th>Måned</th>
							<th>Jobber</th>
							<th>Per side</th>
							<th>Sider</th>
							<th>Å betale</th>
						</tr>
					</thead>
					<tfoot>
						<tr style="font-style: italic; font-weight: bold">
							<td ng-if="viewtype == 'summed'">Sum<span ng-if="viewtype == 'summed'"> ({{group.occurrences}} stk)</span></td>
							<td ng-if="viewtype == 'detailed'" colspan="2">Sum</td>
							<td ng-if="viewtype == 'detailed'" style="text-align: right">{{group.num_jobs|formatNum:0}}</td>
							<td style="text-align: right">&nbsp;</td>
							<td style="text-align: right">{{group.num_pages|formatNum:0}}</td>
							<td style="text-align: right">{{group.amount_real|formatNum}}</td>
						</tr>
					</tfoot>
					<tbody ng-repeat="row in group.users | orderBy:'realname'">
						<tr>
							<td rowspan="{{row.num_rows}}">{{row.realname || row.username}} <b ng-if="section.is_beboer && row.utflyttet">Utflyttet?</b></td>

							<!-- we need this hack (having two similar html-sections) to allow rowspan -->
							<td>{{row.months[0].name}}</td>
							<td style="text-align: right">{{row.months[0].num_jobs}}</td>
							<td style="text-align: right">
								<span ng-repeat="(key, val) in row.months[0].costlist">{{key|formatNum}}<br /></span>
							</td>
							<td style="text-align: right">
								<span ng-repeat="(key, val) in row.months[0].costlist">{{val|formatNum:0}}<br /></span>
							</td>
							<td style="text-align: right">{{row.months[0].amount_real|formatNum}}</td>

						</tr>
						<tr ng-repeat="month in row.months" ng-if="$index > 0">
							<td>{{month.name}}</td>
							<td style="text-align: right">{{month.num_jobs}}</td>
							<td style="text-align: right">
								<span ng-repeat="(key, val) in month.costlist">{{key|formatNum}}<br /></span>
							</td>
							<td style="text-align: right">
								<span ng-repeat="(key, val) in month.costlist">{{val|formatNum:0}}<br /></span>
							</td>
							<td style="text-align: right">{{month.amount_real|formatNum}}</td>
						</tr>
						<tr ng-if="row.show_sum" style="font-style: italic">
							<td>Sum</td>
							<td style="text-align: right">{{row.num_jobs}}</td>
							<td style="text-align: right">&nbsp;</td>
							<td style="text-align: right">{{row.num_pages|formatNum:0}}</td>
							<td style="text-align: right">{{row.amount_real|formatNum}}</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>

	</div>
</div>