INTERN_USERS_API_KEY=
INTERN_GOOGLE_API_KEY=

# To test emailing (e.g. user registration) you can use https://mailtrap.io/
MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null

PRINTERDB_USERNAME=
PRINTERDB_PASSWORD=

OTEL_PHP_AUTOLOAD_ENABLED=false
OTEL_SERVICE_NAME=intern-backend
OTEL_EXPORTER_OTLP_ENDPOINT=
