# only used in development!
version: '2'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: blindern/intern-backend
    environment:
      LARAVEL_ENV: local
      APP_ENV: local
      APP_DEBUG: 1
      APP_KEY: KeNd439jeX9n9hqudOxXqCQErFmbApoi
      DB_CONNECTION: pgsql
      DB_HOST: database
      DB_PORT: 5432
      DB_DATABASE: intern
      DB_USERNAME: intern
      DB_PASSWORD: secret
      LARAVEL_SESSION_SECURE: 0
      INTERN_USERS_API_KEY: $INTERN_USERS_API_KEY
      PRINTERDB_DSN: pgsql:host=postgresql-1.zt.foreningenbs.no;dbname=pykota
      PRINTERDB_USERNAME: $PRINTERDB_USERNAME
      PRINTERDB_PASSWORD: $PRINTERDB_PASSWORD
    ports:
      - "8081:80"
  database:
    image: postgres:17
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: intern
      POSTGRES_USER: intern
      POSTGRES_PASSWORD: secret
    ports:
      - "127.0.0.1:5432:5432"

volumes:
  db:
