<div class="row" class="bs_login_form">
	<div class="col-md-6">
		<p><a href="login">&laquo; Logg inn</a></p>

		<p>Dette er en tjeneste for beboere ved Blindern Studenterhjem. Har du øvrige spørsmål ta kontakt med <a href="http://blindern-studenterhjem.no/administrasjonen">hjemmets administrasjon</a>.</p>

		<div ng-if="success">
			<p>Din forespørsel er sendt inn.</p>
		</div>

		<div ng-if="!success">
			<p style="color: #FF0000">Opplysningene du oppgir, med unntak av passord, vil bli gjort kjent for andre brukere.</p>
			<p>Du vil kunne bruke dette brukernavnet og passordet til å logge inn på forskjellige tjenester på BS (som f.eks. printeren i biblionette, wikien og Blindernåret).</p>

			<form class="form-horizontal" role="form" name="form" ng-submit="register(reg, form)" autocomplete="off" novalidate>
				<div class="form-group">
					<label for="regform_username" class="col-lg-4 control-label">Brukernavn</label>
					<div class="col-lg-8" ng-class="{ 'has-error': (form.username.$error.length || form.username.$error.valid) && form.username.$dirty }">
						<input type="text" name="username" ng-model="reg.username" placeholder="Brukernavn" class="form-control" valid-username auto-focus>
						<span class="help-block">(<b>Små bokstaver</b>, uten mellomrom, bruk gjerne UiO-brukernavn evt. fornavn med to bokstaver fra etternavn)</span>
						<p class="help-block" ng-if="form.username.$error.length && form.username.$dirty">Brukernavn må være mellom 4 og 20 tegn.</p>
					</div>
				</div>

				<div class="form-group">
					<label for="regform_fornavn" class="col-lg-4 control-label">Fullt navn</label>
					<div class="col-lg-4" ng-class="{ 'has-error': firstname_error }">
						<input type="text" name="firstname" ng-model="reg.firstname" placeholder="Fornavn" class="form-control" required>
						<p class="help-block" ng-if="firstname_error = form.firstname.$error.required && form.firstname.$dirty">Fornavn på oppgis</p>
					</div>
					<div class="col-lg-4" ng-class="{ 'has-error': lastname_error }">
						<input type="text" name="lastname" ng-model="reg.lastname" placeholder="Etternavn" class="form-control" required>
						<p class="help-block" ng-if="lastname_error = form.lastname.$error.required && form.lastname.$dirty">Etternavn på oppgis</p>
					</div>
				</div>

				<div class="form-group">
					<label for="regform_email" class="col-lg-4 control-label">E-post</label>
					<div class="col-lg-8" ng-class="{ 'has-error': email_error }">
						<input type="email" name="email" ng-model="reg.email" placeholder="E-postadresse" class="form-control" required>
						<p class="help-block" ng-if="email_error = form.email.$error.email && form.firstname.$dirty">Du må oppgi en korrekt e-postadresse</p>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': phone_error }">
					<label for="regform_phone" class="col-lg-4 control-label">Mobil (valgfritt)</label>
					<div class="col-lg-8">
						<input type="text" name="phone" ng-model="reg.phone" placeholder="Mobilnummer (valgfritt)" class="form-control" valid-phone>
						<p class="help-block" ng-if="phone_error = form.phone.$error.phone && form.phone.$dirty">Kun norske nummer med 8 tall kan registreres</p>
					</div>
				</div>

				<div class="form-group">
					<label for="regform_pw" class="col-lg-4 control-label">Passord</label>
					<div class="col-lg-8" ng-class="{ 'has-error': password_error }">
						<input type="password" name="password" ng-model="reg.password" placeholder="Passord" class="form-control" valid-password>
						<span class="help-block">(Minst 8 tegn. Passordet overføres kryptert og blir lagret uten mulighet for å lese passordet.)</span>
						<p class="help-block" ng-if="password_error = form.password.$error.length && form.password.$dirty">Passordet må være på minst 8 tegn</p>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-4 col-lg-8">
						Når du registrerer deg vil du etter hvert også bli lagt inn på lista bs-info@foreningenbs.no som benyttes til å informere om større begivenheter som f.eks. revy, som kan være relevant også etter botiden. Denne listen kan man melde seg av om ønskelig.
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-4 col-lg-8">
						<input type="submit" value="Registrer" class="btn btn-default">
						<span class="help-block">Du vil bli lagt til manuelt, så noe ventetid må påregnes.</span>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>