<ul>
	<li>Brukernavn: {{user.username}}</li>
	<li>Navn: {{user.realname}}</li>
	<li>E-post: {{user.email}}</li>
	<li ng-if="user.phone">Mobil: {{user.phone}}</li>
</ul>

<h2>Grupper</h2>
<table class="table table-striped nowrap table-condensed" style="width: auto" ng-if="user.groups">
	<thead>
		<tr>
			<th>Gruppe</th>
			<th>Beskrivelse</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="group in user.groups">
			<td><a ng-href="group/{{group.name}}">{{group.name}}</a></td>
			<td>
				<span ng-bind="group.description"></span>
				<span ng-if="group.inherited">
					<br ng-if="group.description">
					<span class="text-muted">
						(Indirekte medlem gjennom
							<span ng-repeat="group in group.inherited">
								<a ng-href="group/{{group}}">{{group}}</a><span ng-if="!$last">,</span></span>)
					</span>
				</span>
				<div ng-if="!group.description && !group.inherited">&nbsp;</div>
			</td>
		</tr>
	</tbody>
</table>
<p ng-if="user.groups.length == 0">
	<i>Ingen grupper</i>
</p>

<div ng-if="user.groupowner_relations">
	<h2>Administrator for</h2>
	<ul>
		<li ng-repeat="(name, from) in user.groupowner_relations"><a href="/intern/group/{{name}}">{{name}}</a> (delegert fra 
			<span ng-repeat="group in from">
				<a ng-href="group/{{group}}">{{group}}</a><span ng-if="!$last">,</span></span>)</li>
	</ul>
</div>