/* For printer */
.printerchart {
  * {
    font-size: 14px;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .area {
    fill: steelblue;
  }
  .ytext {
    fill: #000;
  }
}


.printer-stats-chart {
  * {
    font-size: 12px;
  }

  .axis-label {
    font-size: 12px;
    fill: #666;
  }

  .bar:hover {
    opacity: 0.8;
  }
}
