<p>Ukemenyen finner du her: <a href="matmeny/plain" target="_self">matmeny/plain</a></p>
<p>Du kan også bruke følgende adresse og legge inn i kalenderen din: <a href="matmeny.ics" target="_self">https://foreningenbs.no/intern/matmeny.ics</a></p>
<p>Denne siden brukes for øyeblikket kun for oppdatering av matmeny.</p>

<p ng-show="!access">
    <b>Du har ikke tilgang til å redigere matmenyen. Administrasjonen, kollegiet og IT-gruppa kan gjøre endringer.</b>
</p>

<div ng-show="access">
    <div class="panel panel-warning">
        <div class="panel-heading"><h2 class="panel-title">Redigering av matmenyen</h2></div>
        <div class="panel-body">

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">Velg uke</label>
                    <div class="col-md-9">
                        <select class="form-control" ng-model="current_week" auto-focus>
                            <option ng-repeat="week in weeks" ng-selected="{{week.year+'-'+week.week == current_week}}" value="{{week.year}}-{{week.week}}">
                                Uke {{week.week}} {{week.year}} (fra {{week.start|customdate:'DD.MM'}}) {{week.relnum == 1 ? '(neste uke)' : (week.relnum == 0 ? '(inneværende uke)' : '')}} {{week.datacount ? ' (har data)' : ''}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">
                        Importer fra menydokument
                    </label>
                    <div class="col-md-9">
                        <div ng-if="!uploadprogress">
                            <input type="file" nv-file-select uploader="uploader" class="form-control">
                        </div>
                        <span class="form-control" ng-show="uploadprogress">Laster opp..</span>
                        <span class="help-block">OBS! Dokumentet må benytte kjøkkenets matmeny-mal lagret i .doc for å la seg lese automatisk.</span>
                    </div>
                </div>

                <form ng-submit="submitForm()" name="inputform" autocomplete="off" ng-class="{'has-warning': weeksChanged[current_week]}">

                    <div class="form-group" ng-repeat="(date, day) in weeks[current_week].days">
                        <label class="col-md-3 control-label">{{date|customdate:'dddd D. MMM'}}</label>
                        <div class="col-md-4">
                            <input type="text" ng-list="," ng-model="day.dishes" class="form-control" placeholder="Matretter, separer med komma" ng-change="itemChanged(day)">
                        </div>
                        <div class="col-md-5">
                            <input type="text" ng-model="day.text" class="form-control" placeholder="Evt. kommentar for dagen" ng-change="itemChanged(day)">
                        </div>
                    </div>

                    <div class="form-group" ng-show="weeksChanged[current_week]">
                        <div class="col-md-9 col-md-offset-3">
                            <input type="submit" value="Lagre endringer" class="btn btn-primary" ladda="is_submitting" data-style="expand-right">
                        </div>
                    </div>

                </form>

            </div>

        </div>
        <div class="panel-footer">Denne tjenesten er tilgjengelig for administrasjonen (på deres nettverk), kollegiet og IT-gruppa.</div>
    </div>

</div>