<p ng-show="noaccess">
    Denne siden er kun tilgjengelig for <a href="group/biblioteksutvalget">biblioteksutvalget</a>.
</p>
<div class="form-horizontal" ng-show="!noaccess">
    <p>Dette skjemaet benyttes til å registrere bøker i biblioteket. ISBN-søket benytter Google Books til å søke etter bokinformasjon, og vil fylle inn feltene automatisk hvis boka blir funnet.</p>

    <form>
        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Rom</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="book.bib_room" id="room" placeholder="I hvilket rom tilhører boka?">
            </div>
        </div>
                
        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Seksjon i rommet</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="book.bib_section" id="section" placeholder="Hvor i biblioteket boka tilhører">
            </div>
        </div>
        
        <div class="form-group">
            <label for="isbn" class="col-sm-3 control-label">ISBN</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="book.isbn" id="isbn" placeholder="ISBN-kode" auto-focus>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" ladda="isbn_is_searching" data-style="expand-right" class="btn btn-primary" ng-click="isbnSearch()">
                    Søk etter bokinformasjon
                </button>
            </div>
        </div>
    </form>
    <form>
        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">Tittel</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="book.title" id="title" placeholder="Tittel på boka">
            </div>
        </div>
        <div class="form-group">
            <label for="subtitle" class="col-sm-3 control-label">Undertittel</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="book.subtitle" id="subtitle" placeholder="Evt. undertittel">
            </div>
        </div>
        <div class="form-group">
            <label for="authors" class="col-sm-3 control-label">Forfattere ({{book.authors.length||0}} forfatter{{book.authors.length==1?'':'e'}})</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="book.authors" ng-list="," id="authors" placeholder="Forfattere separert med komma">
            </div>
        </div>
        <div class="form-group">
            <label for="pubdate" class="col-sm-3 control-label">Publisert dato/år</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="book.pubdate" id="pubdate" placeholder="yyyy-mm-dd eller yyyy-mm eller yyyy">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Beskrivelse</label>
            <div class="col-sm-6">
                <textarea class="form-control" ng-model="book.description" id="description" placeholder="Evt. beskrivelse om boka" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="comment" class="col-sm-3 control-label">Biblioteksutvalgets kommentar</label>
            <div class="col-sm-6">
                <textarea class="form-control" ng-model="book.bib_comment" id="comment" placeholder="Evt. kommentar hvis man vil si noe om tilstand til boka eller liknende" rows="3"></textarea>
            </div>
        </div>
        <!--
        <div class="form-group">
            <label for="categories">Kategorier ({{book.categories.length||0}} kategori{{book.categories.length==1?'':'er'}})</label>
            <input type="text" class="form-control" ng-model="book.categories" ng-list="," id="categories" placeholder="Kategorier separert med komma">
        </div>
        -->
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-3">
            <input type="submit" class="btn btn-primary" ng-click="addBook()" value="Registrer bok i databasen">
        </div>
    </form>
</div>
