<p>For å logge inn her må du benytte foreningsbrukeren din. Det er den du også bruker på foreningens printer, wiki m.v.</p>

<div class="row" class="bs_login_form">
	<div class="col-md-6">
		<form class="form-horizontal" role="form" ng-submit="login()">
			<!--
			<?php if (isset($login_error)): ?>
				<div class="bg-danger" style="padding: 15px; margin: 15px 0"><?php echo $login_error; ?></div>
			<?php endif; ?>
			-->

			<div class="form-group">
				<label for="form_username" class="col-lg-2 control-label">Brukernavn</label>
				<div class="col-lg-10">
					<input type="text" ng-model="credentials.username" placeholder="Brukernavn" class="form-control" auto-focus>
				</div>
			</div>

			<div class="form-group">
				<label for="form_password" class="col-lg-2 control-label">Passord</label>
				<div class="col-lg-10">
					<input type="password" ng-model="credentials.password" placeholder="Passord" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="credentials.remember_me"> Forbli pålogget
						</label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<input type="submit" class="btn btn-default" value="Logg inn">
					<a href="register" style="margin-left: 10px">Opprett bruker</a>
				</div>
			</div>

		</form>
	</div> <!-- end col -->

</div>