.books_list {
	max-width: 600px;
	margin: 0 auto;

	.book {
		a {
			margin-top: 10px;
			padding: 10px;
			background-color: lighten($state-info-bg, 5%);
			overflow: hidden;
			display: block;
			border-radius: 5px;
			position: relative;
			text-decoration: none;

			&:hover {
				background-color: lighten($state-info-bg, 2%);
			}

			.thumb {
				float: right;
				display: block;
				min-width: 62px;
				min-height: 1px;
				text-align: right;
			}

			.bookdata {
				margin-right: 72px;
			}

			.title {
				display: inline;
				&.have_subtitle:after {
					content: ':';
				}
				.subtitle {
					color: #555;
				}
			}

			.placeinfo {
				margin-top: 5px;
				margin-right: 72px;
				color: lighten($text-muted, 20%);
				font-size: 90%;

				&:before {
					content: 'Plassering: ';
				}

				.room, .section {
					display: inline;
				}
				.section {
					display: inline;
					&:before {
						content: '(';
					}
					&:after {
						content: ')';
					}
				}
			}

			.pubdate {
				display: inline;
				color: #AAA;

				&:before {
					content: '(';
				}
				&:after {
					content: ')';
				}
			}

			@media (min-width: $screen-sm-min) {
				// evt justeringer for annen visning ved stor skjerm
			}
		}
	}
}