<div class="bukker">
    <div ng-if="bukker.length > 0">
        <p>Totalt {{bukker.length}} bukker er registrert. {{countHoy}} høyheter, {{countHelOnly}} ({{countHelAll}}) helheter og {{countHalvOnly}} ({{countHalvAll}}) halvheter.</p>
        <div class="bukker-list">
            <div class="bukk" ng-repeat="bukk in bukker | orderBy:'-sortKey'">
                <a href="bukker/{{bukk._id}}">
                    <div class="bukkdata">
                        <div class="name">{{bukk.name}}</div>
                        <div class="awards">
                            <span class="thumb" ng-if="bukk.thumb">
                                <img ng-src="{{bukk.thumb}}" alt="">
                            </span>
                            <span class="award" ng-repeat="award in bukk.awards|orderBy:'-year'">
                                {{award.rank}} {{award.year}}{{!$last ? ', ' : ''}}
                            </span>
                        </div>
                        <div class="died" ng-if="bukk.died">
                            Død<span ng-if="bukk.died !== true"> {{bukk.died}}</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
