/*
animating progress icon
usage:
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
see: https://gist.github.com/alexandrevicenzi/680147013e902a4eaa5d
*/
.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}