/* For forsiden */

.index-arrplan {
  margin-bottom: 10px;
  @media (min-width: $screen-md-min) {
    margin-bottom: 0;
  }
  .h {
    text-align: center;
    font-weight: bold;
    margin: 10px;
  }
}

.index-matmeny, .index-arrplan {
  background-color: lighten($state-info-bg, 5%);
  text-align: center;
  overflow: hidden;
  display: block;
  width: 100%;

  &, &:hover {
    text-decoration: none;
    color: $text-color;
  }
  &:hover {
    background-color: $state-info-bg;
  }

  p {
    margin: 10px;
    display: block;
  }

  th {
    text-align: center;
  }
}

.fbs_forside_lenker {
  p {
    margin: 10px 0;
    a {
      font-size: 21px;
      display: block;
      text-align: center;
      line-height: 100px;
      color: darken($link-color, 15%);
      background-color: $state-info-bg;
      &:hover {
        text-decoration: none;
        background-color: darken($state-info-bg, 10%)
      }
      > span {
        line-height: 1em;
        display: inline-block;
        vertical-align: middle;
        span {
          display: block;
          color: lighten(#000, 15%);
          font-size: 70%;
        }
      }
    }
  }
  + .fbs_forside_lenker {
    margin-top: 15px;
  }
  &.small a {
    font-size: 17px;
    line-height: 80px;
  }

  .wiki-box {
    p {
      position: relative;
    }
    a span {
      padding-bottom: 20px;
    }
    .search-box {
      position: absolute;
      bottom: 5px;
      left: 5px;
      right: 5px;
    }
    input {
      width: 100%;
    }
  }
}
