<p>Visningsmodus:
	<select name="format">
		<option value="summed">Oppsummert</option>
		<option value="detailed">Detaljert</option>
	</select>
</p>
<p>Tidsperiode:
  <input name="date_from" class="input-small" placeholder="yyyy-mm-dd" type="date" value="{{from}}" date-format="yyyy-mm-dd" />
   - 
  <input name="date_to" class="input-small" placeholder="yyyy-mm-dd" type="date" value="{{to}}" /></p>

<div id="fakturere_data"></div>