/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

#react_container {
  height: 100%;
}

code {
  font-size: 80%;
}

// pull right after headers should be positioned next to header
/*
Don't think this is used? Remove if not

[ng-view] .pull-right:first-child {
  float: none !important;
  @media (min-width: $screen-sm-min) {
    float: right !important;
    margin-top: -75px;
  }
}
*/
