name: backend
on:
  workflow_dispatch:
  push:
    paths:
      - "backend/**"
      - ".github/workflows/backend.yml"
jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mongodb-1.16.2

      - run: docker-compose up -d database
        working-directory: backend

      - run: composer install -n --prefer-dist
        working-directory: backend

      - run: php artisan test
        working-directory: backend

      - name: Build container
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          context: backend
          push: ${{ github.ref == 'refs/heads/master' }}
          tags: blindern/intern-backend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy
        if: github.ref == 'refs/heads/master'
        run: |
          curl --fail -L -i -H "authorization: bearer $DEPLOYER_TOKEN" -H "content-type: application/json" -X POST https://deployer.foreningenbs.no/deploy -d '
          {
            "service": "intern",
            "attributes": {
              "backend_image": "blindern/intern-backend@${{ steps.docker_build.outputs.digest }}"
            }
          }'
        env:
          DEPLOYER_TOKEN: ${{ secrets.DEPLOYER_TOKEN }}
