name: frontend
on: [push]
jobs:
  frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'

      - run: npm ci
        working-directory: frontend
      - run: npm run lint
        working-directory: frontend
      - run: npm run build
        working-directory: frontend

      - name: Build docker image
        uses: docker/build-push-action@v3
        with:
          context: frontend
          push: ${{ github.ref == 'refs/heads/modernize' }}
          tags: blindern/intern-frontend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
